# User Testing Report

User testing was conducted by Cassandra Chartrand on Oct.22 2013 between the times of 8am and 11am with the following participants:

- Andy Ham
- Stephanie Cansfield
- Lisa Beaton

## Tasks

1. Look at today's weather
2. What are cirrus clouds?
3. Go back to home page

---

## Individual Results & Observations

### Andy Ham

- Easily found everything, enjoyed pictures
- A little hesitant when looking for cirrus clouds
- No questions


### Stephanie Cansfield

- Makes sense, looks good, was pretty easy
- A bit hesitant about which one to pick for weather
- NO questions

### Lisa Beaton

- Found everything with ease
- Not hesitant, clicked the right buttons
- No questions, liked photographs
- Maybe have a table on main page that shows full weather, instead of having a seperate page

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No one had any trouble navigating through site

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- 

### Minor, Annoying, Won’t Hinder Completion

- Participant suggested making a table for the weather on main page
- Maybe have a fun fact page