@-mozviewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	background-color: #ccc;
	font: normal 100%/1.4 Georgia, "Times New Roman", Times, serif;
	background-position: top center;
	margin: 0;
}

.background-box{
	width:100%;
	background-color: #FC0;
	margin: 0;
}

h1{
	position: left;
	font: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	color: #1CBBB4;
	padding: .5em;
}

.media{
	overflow: hidden;
}

.media-title{
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
}



.media-img-reversed{
	float:right;
	margin-right:0;
	margin-left:10px;
}

p{
	padding: .5em;
	text-align:left
}

nav ul {
	list-style-type: none;
	text-align: center;
	color: #1CBBB4;
}

nav li {
	display: inline;
}

nav a,
nav a:link,
nav a:visited {
	display: inline-block;
	margin: 0 1%;
	padding: 1.5% 3%;
	color: #555 ;
	text-decoration: none;
}

nav .selected {
	background-color: #1CBBB4;
}

.searchbar {
float: right;
}

figure{
	background-color: #fff;
	margin:0;
}

.home-cloud{
	width: 100%;
	padding: 1em;
	margin: 0;
}

.copyright{
	color: #fff;
}

footer{
	width:100%;
	background-color: #374665;
}
	

@media only screen and (min-width: 25em) {
	
	figure{
		width:100%;
	}
	
	h1{
	position: left;
	font: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	}
	
	nav{
		display: inline;
		position: center;
		max-width: 5em;
	}
	
	.home-cloud{
		display: inline;
		position: center;
		width: 100%;
	}

}

@media only screen and (min-width: 37em) {
	
	figure{
		width:100%;
	}
	
	h1{
	position: left;
	font: Verdana, Geneva, sans-serif;
	font-size: 2.5em;
	}
	.home-cloud{
		display: inline;
		position: center;
		width: 100%;
	}
	
	p{
	position: left;
	font: Verdana, Geneva, sans-serif;
	font-size: .8em;
	}	
}

@media only screen and (min-width: 150em) {
	h1{
	position: left;
	font: Verdana, Geneva, sans-serif;
	font-size: 3em;
	}
	
	nav{
		display: inline;
		position: center;
		max-width: 12em;
	}
	
	p{
	position: left;
	font: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	}

	.home-cloud{
	width:70%;
	padding: 1em;
	display:inline;
}
	
}

